<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stefano G Bianchi{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Site du photographe Stefano G Bianchi">
        <meta name="author" content="Stefano G bianchi photographe, Paris">
        {% block stylesheets %}
            <link href="{{ asset('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400&display=swap') }} " rel="stylesheet">
            <link href="{{ asset('https://fonts.googleapis.com/css?family=Special+Elite&display=swap') }}" rel="stylesheet">
            <link href="{{ asset('https://fonts.googleapis.com/css?family=Ubuntu&display=swap') }}" rel="stylesheet">
            <link href="{{ asset('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/starter-template.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    {% block body %}

    <body>

    {% block content %}
       <header> {% block header %} {% endblock %} </header>
    {% endblock %}
    </body>

    {% endblock %}


</html>
